[Unit]
Description=Medima PI service start GO daemon
Documentation=https://github.com/TomDush/medima-pi
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/medima-pi -roots unsafe:/mnt/unsafe,data:/mnt/data/Media -stderrthreshold=INFO -port 80 -www /srv/medima/www
